/* My Awesome Styles */


/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* Example: Change color of play button */
.plyr__control--overlaid {
  background: #009eff;
}
/* button on focus */
.plyr--video .plyr__control:hover {
  background: orange;
}

/* Example: Change color of progress bar */
.plyr--full-ui input[type="range"] {
  color: #009eff;
}

/* Example: Change player controls */
.plyr--video .plyr__controls {
    color: #009eff;
  font-size: 2em;
}


/* Custom UI Controls */




/* Parent container */
main{
  display: grid;
  grid-template-columns: 1fr;


}

.info {
  margin-left: 1.5em;
  
}

.cast {
  display: flex;
  flex-wrap: wrap;
}

header {
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 3em;
  color: orange;
  display: flex;
}